<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CHANGE</title>
    <link rel="stylesheet" href="css/change.css">
  </head>
  <body>
    <header>
        <div id="header_left">
            <h2>変更ページ</h2>
        </div>
        <a href='/'>メニュー</a>
    </header>
    <div id="content_table">
        <table>
            <tr>
                <th>資産コード</th>
                <td><%=content[0].code%></td>
            </tr>
            <tr>
                <th>資産名</th>
                <td><%=content[0].name%></td>
            </tr>
            <tr>
                <th>取得年月日</th>
                <td><%=content[0].date%></td>
            </tr>
            <tr>
                <th>型式</th>
                <td><%=content[0].model%></td>
            </tr>
            <tr>
                <th>数量</th>
                <td><%=content[0].quantity%>個</td>
            </tr>
            <tr>
                <th>値段</th>
                <td><%=content[0].price%>円</td>
            </tr>
    <form method="post">
            <tr>
                <th>使用場所</th>
                <td><input type="text" name="place" value="<%=content[0].place%>" maxlength="500"></td>
            </tr>
            <tr>
                <th>ステータス</th>
                <td><select id="status_pulldown" name="status">
                    <option value="使用中">使用中</option>
                    <option value="未使用">未使用</option>
                    <option value="破損">破損</option>
                    <option value="廃棄">廃棄</option>
                    <option value="不明">不明</option>
                </select></td>
            </tr>
            <tr>
                <th>写真</th>
                <td><input type="file" id="picture_file" accept="image/png" onchange="makebinary(this);">
                    <input type="hidden" name="picture" id="result">
                </td>
            </tr>
        </table>
        <input id="submit_button" type="submit" value="変更確定">
    </form>
    </div>
    <script>
        const pulldown = document.getElementById("status_pulldown");
        const text = pulldown.innerText.split("\n");
        
        for(i in text){
            if(text[i] === "<%= content[0].status %>"){//プルダウンの値を変更前と同じ値に
                pulldown.selectedIndex = i;
            }
        }
        function makebinary(obj){//※アップロードされた画像を文字列にし、id="result"のtextareaに書き込む用の関数
	        var fileReader = new FileReader();
	        fileReader.onload = (function() {
		    document.getElementById('result').value = fileReader.result.slice(22);//※最初の23文字が邪魔なため、slice(22)で除去する
	        });
	    fileReader.readAsDataURL(obj.files[0]);
        }
    </script>
  </body>
</html>
