<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>INVENTORY_OUTPUT</title>
    <link rel="stylesheet" href="css/inventory_output.css">
  </head>
  <body>
    <header>
        <h2>棚卸し(出力)ページ</h2>
        <a href="/">メニュー</a>
    </header>

    <div id="content">
    <a id="download">棚卸しファイルを取得</a>
    <h3>棚卸し実行で出力されるデータ</h3>

    <table id="inventory_data">
      <tr>
        <th class="table_code">資産コード</th>
        <th class="table_name">資産名</th>
        <th class="table_date">所得年月日</th>
        <th class="table_model">型式</th>
        <th class="table_quantity">数量</th>
        <th class="table_price">値段</th>
        <th class="table_place">使用場所</th>
        <th class="table_status">ステータス</th>
      </tr>
      <% for(var i in content){ %>
      <tr>
        <td class="table_code"><%=content[i].code %></td>
        <td class="table_name"><%=content[i].name %></td>
        <td class="table_date"><%=content[i].date %></td>
        <td class="table_model"><%=content[i].model %></td>
        <td class="table_quantity"><%=content[i].quantity %></td>
        <td class="table_price"><%=content[i].price %></td>
        <td class="table_place"><%=content[i].place %></td>
        <td class="table_status"><%=content[i].status %></td>
      </tr>
      <% } %>
    </table>
    </div>

    <script>
    const table = document.getElementById('inventory_data');
    const csv = [];
    const row = [];

    for (let i = 0; i < table.rows.length; i++) {
        row.length=0//csv配列に代入した後はリセット
        for (let j = 0; j < table.rows[i].cells.length; j++) {
          const field = table.rows[i].cells[j].textContent
          row.push(field);
        }
        csv.push(row.join(','))//1つ1つの要素の間にカンマを入れてcsv配列に代入
    }
    const result = csv.join("\r\n");//間に改行コードを入れる

    const blob = new Blob([result], {'type': 'text/csv'});//csvファイルに変換

    const a = document.getElementById("download");//aタグクリックでダウンロードできるように
    a.download = "result.csv";
    a.href = window.URL.createObjectURL(blob);

    </script>
 </body>
</html>