<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>INVENTORY_OUTPUT</title>
    <link rel="stylesheet" href="css/inventory_output.css">
  </head>
  <body>
    <header>
        <h1>棚卸し(出力)ページ</h1>
    </header>
    <a id="download">棚卸しファイルを取得</a>
    <button onclick="location.href='/'">戻る</button>
    <h3>↓棚卸し実行で出力されるデータ↓</h3>

    <table id="inventory_data" border="1">
      <tr>
        <th>番号</th>
        <th>資産コード</th>
        <th>資産名</th>
        <th>所得年月日</th>
        <th>型式</th>
        <th>数量</th>
        <th>値段</th>
        <th>使用場所</th>
        <th>ステータス</th>
      </tr>
      <% for(var i in content){ %>
      <tr>
        <td><%=content[i].id %></td>
        <td><%=content[i].code %></td>
        <td><%=content[i].name %></td>
        <td><%=content[i].date %></td>
        <td><%=content[i].model %></td>
        <td><%=content[i].quantity %></td>
        <td><%=content[i].price %></td>
        <td><%=content[i].place %></td>
        <td><%=content[i].status %></td>
      </tr>
      <% } %>
    </table>

    <script>
    const table = document.getElementById('inventory_data');
    const csv = [];
    const row = [];

    for (let i = 0; i < table.rows.length; i++) {
        row.length=0//csv配列に代入した後はリセット
        for (let j = 0; j < table.rows[i].cells.length; j++) {
          const field = table.rows[i].cells[j].textContent
          row.push(field);
        }
        csv.push(row.join(','))//1つ1つの要素の間にカンマを入れてcsv配列に代入
    }
    const result = csv.join("\n");//間に改行コードを入れる

    const blob = new Blob([result], {'type': 'text/csv'});//csvファイルに変換

    const a = document.getElementById("download");
    a.download = "result.csv";
    a.href = window.URL.createObjectURL(blob);

    </script>
 </body>
</html>