<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MENU</title>
    <link rel="stylesheet" href="css/menu.css">
  </head>
  <body>
    <header>
      <div id="header_left">
        <a href="/login">ログイン</a>
      </div>
      <div id="header_middle">
        <h2>資産管理アプリケーション</h2>
      </div>
      <div id="header_right">
        <% if(user === "admin"){ %>
        <a href="/insert">新規作成</a>
        <a href="/notice">通知</a>
        <% } %>
      </div>
    </header>
    <div id="main_content">

    

    現在のユーザー:<%=user%><br>
    <div id="ope_buttons">
      <form method="post">
        <button id="narrow_button" type="button">絞り込み</button>
        <button id="change_button" type="button">変更</button>
        <button id="request_button" type="button">申請</button>
        <input type="hidden" id="hidden_content" name="mode" value="">
    </div>
    <div id="inventory_buttons">
      <button onclick="location.href='/inventory_output'" type="button">棚卸し:出力</button>
      <button onclick="location.href='/inventory_input'" type="button">棚卸し:入力</button>
    </div>
    <table>
      <tr>
        <th class="table_choose">選択</th>
        <th class="table_code">資産コード</th>
        <th class="table_name">資産名</th>
        <th class="table_date">所得年月日</th>
        <th class="table_model">型式</th>
        <th class="table_quantity">数量</th>
        <th class="table_price">値段</th>
        <th class="table_place">使用場所</th>
        <th class="table_status">ステータス</th>
        <th class="table_photo">写真</th>
      </tr>
      
      <% for(var i in content){ %>
      <tr>
        <td><label><input type="radio" name="radio" value="<%= content[i].code %>"></label></td>
        <td class="table_code"><%=content[i].code %></td>
        <td class="table_name"><%=content[i].name %></td>
        <td class="table_date"><%=content[i].date %></td>
        <td class="table_model"><%=content[i].model %></td>
        <td class="table_quantity"><%=content[i].quantity %>個</td>
        <td class="table_price"><%=content[i].price %>円</td>
        <td class="table_place"><%=content[i].place %></td>
        <td class="table_status"><%=content[i].status %></td>
        <td class="table_photo"><a href="">表示</a></td>
      </tr>
      <% } %>
    </table>
    </form>
    </div>

    <dialog id="narrow_dialog">
      <form method="post">
      <h3>絞り込み</h3>
      <input type="hidden" name="mode" value="narrow_mode">
      <table>
        <% if(user === "admin"){ %>
        <tr>
          <th>使用者</th>
          <td>
            <select name="narrow_user">
              <option value="未設定">未設定</option>
              <% for(var i in users){ %>
              <option value="<%=users[i].name %>"><%=users[i].name %></option>
              <% } %>
            </select>
          </td>
        </tr>
        <% } %>
        <tr>
          <th>取得年月日</th>
          <td>
            <input type="date" name="narrow_date_start" value="2020-01-01">〜
            <input type="date" name="narrow_date_end" id="today">
          </td>
        </tr>
        <tr>
          <th>使用場所</th>
          <td>
            <input type="text" name="narrow_place" value="">
          </td>
        </tr>
        <tr>
          <th>ステータス</th>
          <td>
            <select name="narrow_status">
              <option value="未設定" checked>未設定</option>
              <option value="使用中">使用中</option>
              <option value="未使用">未使用</option>
              <option value="破損">破損</option>
              <option value="廃棄">廃棄</option>
              <option value="不明">不明</option>
            </select>
          </td>
        </tr>
      </table>
      <div id="go_home">
        <input  class="narrow_buttons" type="submit" value="絞り込み">
        <button class="narrow_buttons" id="narrow_back" type="button">戻る</button>
      </div>
      
    </form>
      
  </dialog>

    <script>
      window.onload = function () {//今日の日付を取得する

        var today = new Date();

        today.setDate(today.getDate());

        var year = today.getFullYear();
        var month = ("0" + (today.getMonth() + 1)).slice(-2);
        var day = ("0" + today.getDate()).slice(-2);

        document.getElementById("today").value = year + '-' + month + '-' + day;
      }

      //絞り込みの処理
      const narrow_dialog = document.getElementById("narrow_dialog");
      const narrow_button = document.getElementById("narrow_button");
      const narrow_back = document.getElementById("narrow_back");

      narrow_button.addEventListener("click", function(event){//ボタンを押したらダイアログを出すようにする
        narrow_dialog.showModal();
      });
      narrow_back.addEventListener("click", function(event){//戻るボタンで閉じれる
        narrow_dialog.close();
      });
      
      //変更の処理
      const change_button = document.getElementById("change_button");
      const radio_button = document.getElementsByName("radio");
      const hidden = document.getElementById("hidden_content");

      change_button.addEventListener("click", function(event){//変更ボタンを押したら実行
        var change_flag = false;

        for (var i = 0; i < radio_button.length; i++) {//どのラジオボタンが押されているか確認
         if (radio_button[i].checked) {
          change_flag = true;
         }
        }
        if(change_flag){//押されていればダイアログを出して、表示分を形成
          hidden.value="change_mode"
          change_button.type="submit"
          
        }
        if(!change_flag){//押されていなければエラー
          alert("変更エラー:何も選択されていません");
        }
      });
      
      //申請の処理
      const request_button = document.getElementById("request_button");

      request_button.addEventListener("click", function(event){//申請ボタンを押したら実行
        var request_flag = false;

        for (var i = 0; i < radio_button.length; i++) {//どのラジオボタンが押されているか確認
         if (radio_button[i].checked) {
          request_flag = true;
         }
        }
        if(request_flag){//押されていればダイアログを出して
          hidden.value="request_mode";
          request_button.type="submit";
        }
        if(!request_flag){//押されていなければエラー
          alert("申請エラー:何も選択されていません");
        }
      });
    </script>
  </body>
</html>
