<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>NOTICE</title>
    <link rel="stylesheet" href="css/notice.css">
</head>
<body>
    <header>
        <h1>通知</h1>
    </header>
    <form method="post">
    <input type="hidden" name="mode" id="mode" value="">
    <button id="print_button" type="button">書類作成</button>
    <button id="narrow_button" type="button">絞り込み</button>
    <button onclick="location.href='/'" type="button">メニューへ戻る</button>

    <table border="1">
        <tr>
            <th>選択</th>
            <th>id</th>
            <th>資産コード</th>
            <th>使用者名</th>
            <th>申請種類</th>
            <th>申請理由</th>
            <th>処理状態(未処理:1 処理済:0)</th>
        </tr>
        <% for(var i in content){ %>
            <tr>
                <td>
                    <% if(content[i].processed === 1){ %>
                    <label><input type="radio" name="radio" value="<%= content[i].id %>"></label>
                    <% } %>
                </td>
                <td><%= content[i].id %></td>
                <td><%= content[i].code%></td>
                <td><%= content[i].user%></td>
                <td><%= content[i].type%></td>
                <td><%= content[i].reason%></td>
                <td><%= content[i].processed%></td>
            </tr>
        <% } %>
    </table>
    <dialog id="narrow_dialog">
        <h5>絞り込む内容を選択してくだい</h5>
        <table>
          <tr>
            <th>申請種類で絞り込み</th>
            <td>
                <select name="narrow_status">
                  <option value="未設定" checked>未設定</option>
                  <option value="廃棄申請">廃棄申請</option>
                  <option value="シール再発行申請">シール再発行申請</option>
                  <option value="修理申請">修理申請</option>
                </select>
            </td>
          </tr>
          <th>
            処理済みも表示<input type="checkbox" name="processed">
          </th>
        </table>
        <input type="submit" value="絞り込み">
        <button id="narrow_back" type="button">戻る</button>
    </dialog>
    </form>
    <script>
        const print_button = document.getElementById("print_button");
        const radio_button = document.getElementsByName("radio");
        const mode = document.getElementById("mode");

        print_button.addEventListener("click", function(event){
            var print_flag = false;

            for (var i = 0; i < radio_button.length; i++) {//ラジオボタンが押されているか確認
                if (radio_button[i].checked) {
                    print_flag = true;
                }
            }
            if(print_flag){//押されていればpostされる
                mode.value = "print_mode";
                print_button.type="submit";
            }
            if(!print_flag){//押されていなければエラー
                alert("作成エラー:何も選択されていません");
            }
        });

        const narrow_button = document.getElementById("narrow_button");
        const narrow_back = document.getElementById("narrow_back");
        const narrow_dialog = document.getElementById("narrow_dialog");

        narrow_button.addEventListener("click", function(event){
            mode.value = "narrow_mode";
            narrow_dialog.showModal();
        });
        narrow_back.addEventListener("click", function(event){
            narrow_dialog.close();
        });
    </script>
</body>
</html>