<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>NOTICE</title>
    <link rel="stylesheet" href="css/notice.css">
</head>
<body>
    <header>
        <h2>申請通知</h2>
        <a href="/">メニュー</a>
    </header>
    <div id="content">
    <form method="post">
        <div id="content_buttons">
            <input type="hidden" name="mode" id="mode" value="">
            <button id="print_button" type="button">書類作成</button>
            <button id="narrow_button" type="button">絞り込み</button>
        </div>
    <table id="notice_table">
        <tr>
            <th class="table_choose">選択</th>
            <th class="table_code">資産コード</th>
            <th class="table_user">使用者名</th>
            <th class="table_type">申請種類</th>
            <th class="table_reason">申請理由</th>
            <th class="table_process">処理状態</th>
        </tr>
        <% for(var i in content){ %>
            <tr>
                <td>
                    <% if(content[i].processed === 1){ %>
                    <label><input type="radio" name="radio" value="<%= content[i].id %>"></label>
                    <% } %>
                </td>
                <td><%= content[i].code%></td>
                <td><%= content[i].user%></td>
                <td><%= content[i].type%></td>
                <td><%= content[i].reason%></td>
                <% if(content[i].processed){ %>
                <td>未処理</td>
                <% }else{ %>
                <td>処理済</td>
                <% } %>
            </tr>
        <% } %>
    </table>
    <dialog id="narrow_dialog">
        <h3>絞り込み</h3>
        <table>
          <tr>
            <th>申請種類</th>
            <td>
                <select name="narrow_status">
                  <option value="未設定" checked>未設定</option>
                  <option value="廃棄申請">廃棄申請</option>
                  <option value="シール再発行申請">シール再発行申請</option>
                  <option value="修理申請">修理申請</option>
                </select>
            </td>
          </tr>
          <th>処理済みも表示</th>
          <td>
            <input id="process_checkbox" type="checkbox" name="processed">
          </td>
        </table>
        <div id="go_home">
            <input class="narrow_buttons" type="submit" value="絞り込み">
            <button class="narrow_buttons" id="narrow_back" type="button">戻る</button>
        </div>
    </dialog>
    </div>
    </form>
    <script>
        const print_button = document.getElementById("print_button");
        const radio_button = document.getElementsByName("radio");
        const mode = document.getElementById("mode");

        print_button.addEventListener("click", function(event){
            var print_flag = false;

            for (var i = 0; i < radio_button.length; i++) {//ラジオボタンが押されているか確認
                if (radio_button[i].checked) {
                    print_flag = true;
                }
            }
            if(print_flag){//押されていればpostされる
                mode.value = "print_mode";
                print_button.type="submit";
            }
            if(!print_flag){//押されていなければエラー
                alert("作成エラー:何も選択されていません");
            }
        });

        const narrow_button = document.getElementById("narrow_button");
        const narrow_back = document.getElementById("narrow_back");
        const narrow_dialog = document.getElementById("narrow_dialog");

        narrow_button.addEventListener("click", function(event){
            mode.value = "narrow_mode";
            narrow_dialog.showModal();
        });
        narrow_back.addEventListener("click", function(event){
            narrow_dialog.close();
        });
    </script>
</body>
</html>