<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>NOTICE</title>
    <link rel="stylesheet" href="css/notice.css">
</head>
<body>
    <header>
        <h1>通知</h1>
    </header>
    <form method="post">
    <button id="print_button" type="button">書類作成</button>
    <button onclick="location.href='/'" type="button">メニューへ戻る</button>
    <input type="checkbox" id="processed_judge" value="処理済みも表示">

    <table border="1">
        <tr>
            <th>選択</th>
            <th>id</th>
            <th>資産コード</th>
            <th>使用者名</th>
            <th>申請種類</th>
            <th>申請理由</th>
        </tr>
        <form method="post">
        <% for(var i in content){ %>
        <p id="show_processed_top"><% if(content[i].processed == 1){ %></p>
        <tr>
            <td><label><input type="radio" name="radio" value="<%= content[i].id %>"></label></td>
            <td><%= content[i].id%></td>
            <td><%= content[i].code%></td>
            <td><%= content[i].user%></td>
            <td><%= content[i].type%></td>
            <td><%= content[i].reason%></td>
        </tr>
        <% } %>
        <% } %>
    </table>
    </form>
    <script>
        const print_button = document.getElementById("print_button");
        const radio_button = document.getElementsByName("radio");

        print_button.addEventListener("click", function(event){
            var print_flag = false;

            for (var i = 0; i < radio_button.length; i++) {//ラジオボタンが押されているか確認
                if (radio_button[i].checked) {
                    print_flag = true;
                }
            }
            if(print_flag){//押されていればpostされる
                print_button.type="submit";
            }
            if(!print_flag){//押されていなければエラー
                alert("作成エラー:何も選択されていません");
            }
        });
    </script>
</body>
</html>